In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42.
# Then, print the series.

import pandas as pd

In [2]:
s = pd.Series([4,8,15,16,23])

In [3]:
s

0     4
1     8
2    15
3    16
4    23
dtype: int64

In [4]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.
# Series function on the variable print it.

my_list = [10,20,30,40,50,60,70,80,90,100]

s1 = pd.Series(my_list)

In [5]:
s1

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [12]:
# Q3. Create a Pandas DataFrame that contains the following data:

df = {'Name' : ['Alice', 'Bob', 'Claire'],
     'Age' : [25, 30, 27],
     'Gender' : ['Female', 'Male', 'Female']}

pd.DataFrame(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series?
# Explain with an example.

# Ans: In pandas, a DataFrame is a 2-dimensional labeled data structure with columns of
# potentially different types. It can be thought of as a table or spreadsheet, similar to
# an Excel spreadsheet or a SQL table. Each column in a DataFrame is a pandas Series,
# which can be of a different data type.

# A pandas Series, on the other hand, is a one-dimensional labeled array capable of holding
# any data type. It is similar to a list or an array in Python but with additional
# functionalities and capabilities.

#DataFrame Example:

data = {'Name' : ['Soumen Das', 'Rupam Das'],
        'Age' : [20,14],
       'Address' : ['Hatkanpur', 'Hatkanpur'],}

pd.DataFrame(data)

         Name  Age    Address
0  Soumen Das   20  Hatkanpur
1   Rupam Das   14  Hatkanpur

In [15]:
#Series Example

s2 = pd.Series([1,2,3,4,5,6])

In [16]:
s2

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [19]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame?
# Can you give an example of when you might use one of these functions?

# Ans: In pandas DataFrame there are so many common functions we can use to manipulate data

# (i) head() and tail(): These functions allow you to view the first or last n rows of the
# DataFrame, respectively. They are often used to quickly inspect the structure of the DataFrame.

# (ii) describe(): This function generates descriptive statistics of the numerical columns in
# the DataFrame, such as count, mean, standard deviation, minimum, and maximum values.
# It's useful for getting an overview of the data distribution.

# (iii) info(): Provides a concise summary of the DataFrame, including its data types, non-null
# values, and memory usage. It's helpful for understanding the basic structure of the DataFrame.

# (iv) shape: Returns a tuple representing the dimensions of the DataFrame (number of rows, number
# of columns). It's useful for quickly checking the size of the DataFrame.

# (v) loc[] and iloc[]: These are primarily used for selecting rows and columns by label
# (loc[]) or by integer position (iloc[]). They allow you to access specific data points
# or slices within the DataFrame.

# (vi) drop(): This function allows you to remove rows or columns from the DataFrame based on
# specified labels or index. It's useful for data cleaning or removing unnecessary information.

# (vii) fillna(): Used to fill missing (NaN) values in the DataFrame with specified values or
# methods, such as mean, median, or forward/backward fill.

# (ix) groupby(): This function is used to group the DataFrame by one or more columns and perform
# operations on the grouped data. It's commonly used for aggregation tasks, such as calculating
# group-wise statistics.

# (x) apply(): Allows you to apply a function along an axis of the DataFrame. It's useful for
# performing custom operations on the DataFrame or specific columns.

# (xi) merge() and concat(): These functions are used for combining multiple DataFrames either
# by merging on specified columns (merge()) or by concatenating along a particular axis
# (concat()). They're useful for joining datasets or combining data from different sources.


# 'groupby' function example

sales_data = pd.DataFrame({
    'date': ['2024-05-01', '2024-05-01', '2024-05-02', '2024-05-02'],
    'product': ['A', 'B', 'A', 'B'],
    'quantity': [10, 5, 8, 6],
    'revenue': [100, 200, 150, 250]
})

product_revenue = sales_data.groupby('product')['revenue'].sum()

In [20]:
product_revenue

product
A    250
B    450
Name: revenue, dtype: int64

In [21]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

# Ans: Among Series, DataFrame, and Panel, both Series and DataFrame are mutable in nature,
# while Panel is not mutable.

# 1. Series: A pandas Series is mutable, meaning we can modify its values after creation.
# we can change individual values, add new values, or remove existing ones.

# 2. DataFrame: A pandas DataFrame is also mutable. we can modify its values, add or remove
# columns, and perform various other operations to manipulate the data.

# 3. Panel: However, Panel is not mutable. It was a data structure in pandas for handling
# 3-dimensional data, but it has been deprecated since pandas version 0.25.0.
# It's recommended to use other data structures like DataFrame for handling such data.

In [27]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

name_series = pd.Series(['Soumen', 'Rupam'])
age_series = pd.Series([20,14])
gender_series = pd.Series(['Male', 'Male'])
address_series = pd.Series(['hatkanpur', 'hatkanpur'])

df = pd.DataFrame({'Name' : name_series,
                  'Age' : age_series,
                   'Gender' : gender_series,
                  'Address' : address_series
})

In [28]:
df

     Name  Age Gender    Address
0  Soumen   20   Male  hatkanpur
1   Rupam   14   Male  hatkanpur